html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url("background-wallpaper.jpg") center top/cover no-repeat #1b1b1b;
}

p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 56px;
    height: 55px;
}

.container {
    position: relative;
}

.circle-1 {

    position: absolute;
    
    top: -90px;
    left: -90px;

    width: 200px;
    height: 200px;

    background-color: #fff;
    border-radius: 50%;

    opacity: 0.5;
    filter: blur(25px);
}

.circle-2 {

    position: absolute;

    right: -90px;
    bottom: -90px;

    width: 200px;
    height: 200px;

    background-color: rgb(24, 85, 199);
    border-radius: 50%;

    opacity: 0.5;
    filter: blur(25px);
}

.card {

    font-family: "Dank Mono";
    font-size: 24px;

    position: relative;

    background-color: #c0ccac3d;
    border: 2px solid #d3d9cb5e;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 550px;
    height: 350px;

    border-radius: 25px;

    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;

    backdrop-filter: blur(9px);

    box-shadow: -12px 23px 55px 6px rgba(0,0,0,0.36);
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
}

.photo {
    display: flex;
    flex-direction: row;
}

.section-2 {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 1.5em;
}

.section-3 {
    display: flex;
    justify-content: space-between;
}

.bank {
    font-size: 1.1em;
}

.credit {
    font-size: .7em;
    margin-top: .4em;
}
